/* Reset Styles */

* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* Variables */

:root {
    --primary-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);
    
    --neutral-dark-blue: hsl(212, 21%, 14%);
    --neutral-grayish-blue: hsl(228, 12%, 48%);
    --neautral-white: hsl(0, 0%, 100%);
}

/* General Styling */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: var(--primary-cream);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.card {
    overflow: hidden;
    margin: 0 1.2rem;
    border-radius: 1rem;
}

.text {
    background-color: var(--neautral-white);
    padding: 1.7rem 1.5rem;
    flex-grow: 0;
    flex-shrink: 1;
    display: grid;
    gap: 1rem;
}

.text__subtitle {
    text-transform: uppercase;
    font-size: 0.85rem;
    color: var(--neutral-grayish-blue);
    letter-spacing: 0.3rem;
}

p {
    color: var(--neutral-grayish-blue);
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.text__prices {
    justify-content: flex-start;
    gap: 1rem;
}

.current__price, .text__title {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
}

.current__price {
    color: var(--primary-cyan);
}

.old__price {
    font-size: 0.9rem;
    color: var(--neutral-grayish-blue);
    text-decoration: line-through;
}

.sr-only {
    position: absolute ;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
  }

.btn {
    background-color: var(--primary-cyan);
    color: var(--neautral-white);
    font-weight: 500;
    padding: 1rem 0;
    border-radius: 0.5rem;
    gap: 0.7rem;
}

.btn:is(:hover, :focus) {
    background-color: hsl(158, 36%, 20%);
}

.btn::before {
    content: '';
    background: url('images/icon-cart.svg') no-repeat;
    width: 15px;
    height: 16px;
    display: inline-block;
}

@media only screen and (min-width: 600px) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 600px;
    }

    .text {
    padding: 1.7rem 2rem;
}
}